body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}
.game-container{
    max-width:600px;
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.color-grid{
    display: grid;
    grid-template-columns: repeat(4,60px);
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
}
.color-box{
    width: 60px;
    height: 60px;
    border-radius: 8px;
    border: 2px solid #ccc;
    cursor: pointer;
}
#mode{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    width:600px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#dark, #light{
    width: 50px;
    height: 20px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
}
#light{
  background-color: white;
  color: black;
}
#dark{
    background-color: black;
    color: white;
}